{% extends 'base1.html' %}
{% load static %}
{% block content %} 

<link rel="stylesheet" href="{% static 'css\style_category.css' %}">
<div class="div-category">
    <p class="title">Categorias</p>
    <ul>
        {% for cat in category %}
            <li>
                <a href="{% url 'category' cat.pk %}">{{ cat.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="products-container">
    <!-- Produtos -->
    {% for pro in products %}
        <a href="{% url 'detail' pro.pk %}">
            <div class="product-card">
                {% for img in pro.foto.all  %}
                    {% if img.cover %}
                        <img src="{{ img.photo.url }}" alt="{{ pro.name }} - {{pro.price}}">
                    {% endif %}
                {% endfor %}
                <h3>{{ pro.name }}</h3>
                <p>R$ {{ pro.price }}</p>
            </div>
        </a>
    {% endfor %}
</div>


{% endblock %}