{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ product.name }}</title>
</head>

<link rel="stylesheet" href="{% static 'css/styles_details.css' %}">
<link rel="stylesheet" href="{% static 'css/styles_base1.css' %}">

<body>
    {% include 'header.html' %}

    <div class="detail-container">
        <div class="product-details">
            <div class="product-gallery">
                {% for ph in product.foto.all %}
                    {% if ph.cover %}
                       <img class= "product-gallery-img" src="{{ ph.photo.url }}" alt="{{ product.name}}">
                    {% endif %}
                {% endfor %}
                <div class="gallery-thumbnails">
                    {% for photo in product.foto.all %}
                        <img class="thumbnails" src="{{ photo.photo.url }}" alt="{{ product.name}}">
                    {% endfor %}
                </div>
            </div>
        
        <div class="product-info">
           <h2>{{ product.name }}</h2>
           <p class="price">R$ {{ product.price }}</p>
           <div class="condition-product">
               <h4 class="info-informacao">Informações do produto:</h4>
               <p class="condition">Condição: {{ product.condition }}</p>
               <p class="condition">Tamanho: {{ product.size }}</p>
               <p class="condition">Marca: {{product.brand}}</p>
           </div>
           <h4 id="title-descripiton">Descrição:</h4>
           <p class="product-description">{{ product.description }}</p>
           <a id="button-by" href="#">Comprar</a>
       </div>
       </div>
    </div>

   {% include 'footer.html' %}
</body> 

<script src="{% static 'js/script_detais.js' %}"></script>
</html>