{% extends 'base.html' %}

{% block content %}
<section class="destaque">
    <h2>Produtos em Destaque</h2>
    <div class="produtos">
        </div>
</section>
<!--<section class="categorias">
    <h2>Categorias</h2>
    <ul>
        <li><a href="#">Eletrônicos</a></li>
        <li><a href="#">Roupas</a></li>
        <li><a href="#">Móveis</a></li>
        </ul>
    </section>
-->
{% for pro in product %}
    <div class="produto">
        {% for k in image %}
                {% if k.product_id == pro.pk %}
                    <img src="{{ k.photo.url }}" alt="{{ pro.name }} - {{pro.price}}">
                {% endif %}
        {% endfor %}
        <p class="descricao">{{ pro.name }}</p>
        <p class="descricao">R$ {{ pro.price }}</p>
    </div>
{% endfor %}
</div>
{% endblock %}