@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
.contact-container {
    max-width: 600px;
    margin: 10px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Oswald', sans-serif;
}

.contact-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #4e5255;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #8f9296;
}

/* Social Media Icons */
.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-icon {
    margin: 0 10px;
    font-size: 34px;
    color: #2d353d;
    text-decoration: none;
}

.social-icon:hover {
    color: #9a9da0;
}