{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bazar da Ana</title>
    <link rel="stylesheet" href="{% static 'css\styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

    <header>
        <div class="logo">Bazar da Ana</div>
        <nav>
            <ul>
                <li><a href="{% url 'bazar' %}">Início</a></li>
                <li><a href="{% url 'category' 0 %}">Categorias</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="{% url 'contact' %}">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="busca">
            <form method="get" action="{% url 'bazar' %}">
                <input type="text" placeholder="Buscar produtos..." name="busca">
                <button>Buscar</button>
            </form>
        </div>
        
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="footer">
            <p>&copy; Bazar da Ana, todos os direitos reservados.</p>
        </div>
    </footer>

</html>